a{    
    
    font-size: 20px;
            font-weight:bold;
            text-decoration: none;
            color: '#4183c4';
            text-align: center;
    
    }
    p{
        text-align: center;
    }

h2{
    text-align: center;
}
h3{
    text-align: center;
}